Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/AdventureAnimset/
Content/Geometry/
Content/HoudiniEngine/
Content/Mannequin/Animations/ThirdPerson_AnimBP.uasset
Content/Mannequin/
Content/StarterContent/
Content/ThirdPerson/
Content/ThirdPersonCPP/
